body {
    height: 500px;
    width: 20px;
    background-image: url('images/background_nyan.gif');
    background-position: 100% 40%;
    background-size: "50% 50%";
}

#bg {
    background-image: linear-gradient(90deg, red, orange, yellow, rgb(0, 167, 0), rgb(0, 183, 255), blue, violet);
    background-repeat: no-repeat;
    height: inherit;
    width: 20px;
    background-position: bottom;
}

#cat {
    height: 60px;
    width: 34px;
    background-image: url('images/0.png');
    background-repeat: no-repeat;   
    position: relative;
    left: -35%;
    background-size: contain;
    top: 84%;
}